<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion del proyecto</label>
                    <input type="text" class="form-control" name="descripcion" id="descripcion" [(ngModel)]="descripcion" required>
                </div>
                <div class="form-group">
                    <label for="img">Imagen</label>
                    <input type="file" class="form-control" name="img" id="img" [(ngModel)]="imagen" (change)="uploadImages($event)" accept=".jpg, .jpeg, .png">
                </div>
                <button class="btn btn-primary">Añadir proyecto</button>
            </form>
        </div>
    </div>
</div>