.row{
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.2) inset;
}
h3{
    margin-top: 20px;
    color: #34495E;
    padding-bottom: 10px;
}
#texto {
    text-align: justify;
}
#texto, #imagen {
    display: inline-block;
}

#addbtn {
    font-family: 'Martian Mono';
    background-color: #34495E;
    color: white;
}
#addbtn:hover {
    background-color: #34495E;
    color: white;
}

#addbtn:active {
    transform: scale(0.95);
}
img {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    width: 300px;
    height: 150px;
    transition: box-shadow 0.3s ease-in-out;
}
img:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4), 8px 0px 20px rgba(0, 0, 0, 0.4);
}  

#btndelete{
    margin-left: 10px;
}
.title{
    display: flex;
    justify-content: center;
}
@media (max-width: 576px) {
    .d-flex.align-items-center {
      flex-wrap: wrap;
    }
    .col-6 {
      flex-basis: 100%;
    }
    h3{
        padding-bottom: 0;
    }
  }
  