<div class="row">

    <h3><b>Proyectos</b></h3>
    <div class="col-12">
        <button type="button" routerLink="/nuevaSkill" class="btn" id="addbtn" *ngIf="isLogged"
            routerLink="/nuevoProyecto">Añadir proyecto</button>
    </div>

    <div *ngFor="let Proyectos of proyectos">

        <div class="col-6 d-flex align-items-center">
            <h3>{{Proyectos.nombre}}</h3>
            <button class="btn btn-danger" id="btndelete" *ngIf="isLogged" (click)="deleteProyectos(Proyectos.id)">
                <i class="bi bi-trash"></i>
            </button>
        </div>


        <div class="col-6">
            <p>{{Proyectos.descripcion}}</p>
        </div>
        <div class="col-6">
            <img [src]="Proyectos.imagen" alt="" class="img-fluid">
        </div>

        <div>
            <br>
        </div>
    </div>

</div>