.row{
    margin-left: 10px;
}
#texto {
    text-align: justify;
}
#texto, #imagen {
    display: inline-block;
}

#addbtn {
    background-color: #34495E;
    color: white;
}
#addbtn:hover {
    background-color: #34495E;
    color: white;
}

#addbtn:active {
    transform: scale(0.95);
}
img{
    box-shadow: 10px -10px 10px black;
    width: 300px;
    height: 150px;
}

#btndelete{
    margin-left: 10px;
}
