<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil.JPG" alt="Foto de perfil" class="img-fluid" id="foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="nombre"><b>Juan Cruz Moreno</b></h2>
        <p><b>Desarrollador Web Full Stack Jr</b></p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3><b>Acerca de</b></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ratione obcaecati inventore fugit ipsam,
            eveniet culpa corporis iusto error sint odit temporibus eaque at dolorum ipsa eos asperiores a quasi?</p>
    </div>
</div>