<div class="row">
    <h3><b>Educación</b></h3>
    <div class="col-lg-2">
        <button type="button" class="btn" id="addbtn" routerLink="/nuevaEducacion" *ngIf="isLogged">Añadir Educación</button>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h4>{{Educacion.nombreEducacion}}</h4>
                    </td>
                    <td>{{Educacion.descripcionEducacion}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light"><i class="bi bi-pencil" routerLink="editarEducacion/{{Educacion.id}}"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger"><i class="bi bi-trash" (click)="deleteEducacion(Educacion.id)"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>