<div class="row">
    <div class="offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <h6 class="text-center" style="font-size: small;">INFORMACIÓN</h6>
        <p class="text-center" style="font-size: small;">Juan Cruz Moreno | Proyecto final Argentina Programa #YoProgramo</p>
        <p class="text-center" style="font-size: small;">Buenos Aires, Argentina</p>
    </div>
    <div class="offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <h6 class="text-center" style="font-size: small;">CONTACTO</h6>
        <a href="mailto:Juuanxmoreno@gmail.com" class="text-center" style="font-size: small; display: block;"><i class="bi bi-envelope-at"></i> Juuanxmoreno@gmail.com</a>
        <a href="https://api.whatsapp.com/send?phone=5492226536917" class="text-center" style="font-size: small; display: block;"><i class="bi bi-whatsapp"></i> +54 9 2226536917</a>
    </div>
</div>
