<div class="row">
    <h3><b>Experiencia</b></h3>
    <div>
        <ul>
            <li>
                <h4><b>Trabajo - </b></h4>
                <h4>(years)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quis necessitatibus mollitia
                    perspiciatis, laudantium accusamus, enim quam laboriosam quo nostrum dicta dolorum debitis numquam
                    sint sequi cum saepe esse autem!</p>
            </li>
        </ul>
    </div>
</div>