.row{
    margin-left: 10px;
}
.circle-progress{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addbtn {
    background-color: #34495E;
    color: white;
}
#addbtn:hover {
    background-color: #34495E;
    color: white;
}

#addbtn:active {
    transform: scale(0.95);
}