<div class="row">
    <div class="col-12">
        <h3><b>Hard Skills & Soft Skills</b></h3>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="90" [radius]="100" [title]="'HTML'" [showTitle]="true" [showUnits]="false"
            [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#508bfc'" [innerStrokeColor]="'#9dbefd'"
            [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="80" [radius]="100" [title]="'CSS'" [showTitle]="true" [showUnits]="false"
            [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#508bfc'" [innerStrokeColor]="'#9dbefd'"
            [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="75" [radius]="100" [title]="'JAVASCRIPT'" [showTitle]="true" [showUnits]="false"
            [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#508bfc'" [innerStrokeColor]="'#9dbefd'"
            [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#508bfc'" [innerStrokeColor]="'#9dbefd'" [animation]="true"
            [animationDuration]="300"></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#508bfc'" [innerStrokeColor]="'#9dbefd'" [animation]="true"
            [animationDuration]="300"></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#508bfc'" [innerStrokeColor]="'#9dbefd'" [animation]="true"
            [animationDuration]="300"></circle-progress>
    </div>
</div>