<div class="container">
    <div class="row">
        <div class="col-2">
            <a href="https://instagram.com/Juuanxmoreno"><img src="../../../assets/instagram_logo.png" alt="Instagram"></a>
        </div>
        <div class="col-2">
            <a href="https://twitter.com/Juuanxmoreno"><img src="../../../assets/twitter_logo.png" alt="Twitter"></a>
        </div>
        <div class="col-2">
            <a href="https://linkedin.com/in/Juuanxmoreno"><img src="../../../assets/linkedin_logo.png" alt="Linkedin"></a>
        </div>
        <div class="col-2">
            <a href="https://github.com/Juuanxmoreno"><img src="../../../assets/github_logo.png" alt="GitHub"></a>
        </div>
        <div class="offset-1 col-3">
            <button type="button" class="btn btn-outline-light">Login</button>
        </div>
    </div>
</div>