<div class="row">
    <h3><b>Educación</b></h3>
    <div>
        <ul>
            <li>
                <h4><b>Complejo Educativo Santa Maria de Cañuelas - </b></h4>
                <h4>(2016 - 2022)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quis necessitatibus mollitia
                    perspiciatis, laudantium accusamus, enim quam laboriosam quo nostrum dicta dolorum debitis numquam
                    sint sequi cum saepe esse autem!</p>
            </li>
            <li>
                <h4><b>Centro Educativo El Jacaranda - </b></h4>
                <h4>(2010 - 2015)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ratione est necessitatibus nemo vero
                    hic culpa quas quasi error ipsam corrupti id, repellat dolorem deleniti earum tempora dolores
                    perferendis. Id.</p>
            </li>
        </ul>
    </div>
</div>