<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 position-relative">
        <img src="{{persona.img}}" alt="Foto de perfil" class="img-fluid" id="foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="nombre"><b>{{persona.nombre}} {{persona.apellido}}</b></h2>
        <p><b>Desarrollador Web Full Stack Jr</b></p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3><b>Acerca de</b></h3>
        <p>{{persona.acercaDe}}</p>
    </div>
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary" routerLink="editarPerfil/1" *ngIf="isLogged">Editar perfil</button>
    </div>
</div>
