html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
    background-color: #A2C6D0;
}

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
@font-face {
    font-family: 'Copperplate';
    src: url('/src/assets/Fonts/Copperplate.ttf') format('truetype');
}
@font-face {
    font-family: 'Copperplate-Bold';
    src: url('/src/assets/Fonts/CopperplateBold.ttf') format('truetype');
}