<div class="row">
    <div class="offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <h6 class="text-center">INFORMACIÓN</h6>
        <p class="text-center">Juan Cruz Moreno | Proyecto final Argentina Programa #YoProgramo</p>
        <p class="text-center">Buenos Aires, Argentina</p>
    </div>
    <div class="offset-1 col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <h6 class="text-center">CONTACTO</h6>
        <p class="text-center">Juuanxmoreno@gmail.com</p>
        <p class="text-center">2226536917</p>
    </div>
</div>